<!DOCTYPE html>
<html lang="en">
<head>
      {% extends 'home_page.html' %}
    <meta charset="UTF-8">
    {% block name %}
    <title>Выход</title>
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block table %}
            <div class = 'row gy-5'>
            <div class="text-lg-center">
            <h1>Вы вышли из своего профиля</h1>
            <a  href="{% url 'login' %}">войти</a>
            </div>
            </div>

        {% endblock %}
    </div>

</body>
</html>